In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 22.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=ac4705050dbd6811b1938d797bf393276bd8cfcd9a7ec9bc1fcce309146541a0
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
#Importing necessary Libraries and creating spark session
from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark = SparkSession.builder.config('spark.some.config.option','some-value').getOrCreate()
spark

In [ ]:
from pyspark.sql.types import StringType, StringType, IntegerType, DoubleType, DataType, LongType

schema = StructType([
    StructField('Store', StringType(), True),
    StructField('Type',StringType(), True),
    StructField('Size',DoubleType(), True)
])

In [ ]:
df_store=spark.read.format("csv").option("header","True").schema(schema).load("/content/drive/MyDrive/Final Project/datasets/stores.csv")

In [ ]:
df_store.show()

+-----+----+--------+
|Store|Type|    Size|
+-----+----+--------+
|    1|   A|151315.0|
|    2|   A|202307.0|
|    3|   B| 37392.0|
|    4|   A|205863.0|
|    5|   B| 34875.0|
|    6|   A|202505.0|
|    7|   B| 70713.0|
|    8|   A|155078.0|
|    9|   B|125833.0|
|   10|   B|126512.0|
|   11|   A|207499.0|
|   12|   B|112238.0|
|   13|   A|219622.0|
|   14|   A|200898.0|
|   15|   B|123737.0|
|   16|   B| 57197.0|
|   17|   B| 93188.0|
|   18|   B|120653.0|
|   19|   A|203819.0|
|   20|   A|203742.0|
+-----+----+--------+
only showing top 20 rows

In [ ]:
df_store.registerTempTable("store")

/usr/local/lib/python3.8/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [ ]:
spark.sql("select * from store").show(5)

+-----+----+--------+
|Store|Type|    Size|
+-----+----+--------+
|    1|   A|151315.0|
|    2|   A|202307.0|
|    3|   B| 37392.0|
|    4|   A|205863.0|
|    5|   B| 34875.0|
+-----+----+--------+
only showing top 5 rows

In [ ]:
from pyspark.sql.types import StringType, StringType, IntegerType, DoubleType, DateType, LongType

schema1 = StructType([
    StructField('Index', IntegerType(), True),
    StructField('Store', IntegerType(), True),
    StructField('Date',DateType(), True),
    StructField('Store_Weekly_Sales',DoubleType(), True),
    StructField('Temperature',DoubleType(), True),
    StructField('Fuel_Price', DoubleType(), True),
    StructField('CPI',DoubleType(), True),
    StructField('Unemployment',DoubleType(), True),
    StructField('IsHoliday', StringType(), True),
    StructField('Week',IntegerType(), True),
    StructField('Month',IntegerType(), True),
    StructField('Year', IntegerType(), True),
    StructField('Quarter',IntegerType(), True),
    StructField('MarkDown',DoubleType(), True)
])

In [ ]:
df_Sale_Store=spark.read.format("csv").option("header","True").schema(schema1).load("/content/drive/MyDrive/Final Project/Out1/store_sales.csv")

In [ ]:
df_Sale_Store.show()

+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
|Index|Store|      Date|Store_Weekly_Sales|Temperature|Fuel_Price|        CPI|Unemployment|IsHoliday|Week|Month|Year|Quarter|MarkDown|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
|  0.0|  1.0|2010-02-05|         1643.6909|      42.31|     2.572|211.0963582|       8.106|    False|   5|    2|2010|      1|    null|
|  1.0|  1.0|2010-02-12|1641.9574400000001|      38.51|     2.548|211.2421698|       8.106|     True|   6|    2|2010|      1|    null|
|  2.0|  1.0|2010-02-19|        1611.96817|      39.93|     2.514|211.2891429|       8.106|    False|   7|    2|2010|      1|    null|
|  3.0|  1.0|2010-02-26|        1409.72759|      46.63|     2.561|211.3196429|       8.106|    False|   8|    2|2010|      1|    null|
|  4.0|  1.0|2010-03-05|1554.8066800000001|       46.5|     2.625|211.3501429|       8.106|    False|   9|    3|2010|      1|    null|
|  5.0|  1.0|2010-03-12|        1439.54159|      57.79|     2.667|211.3806429|       8.106|    False|  10|    3|2010|      1|    null|
|  6.0|  1.0|2010-03-19|        1472.51579|      54.58|      2.72| 211.215635|       8.106|    False|  11|    3|2010|      1|    null|
|  7.0|  1.0|2010-03-26|        1404.42992|      51.45|     2.732|211.0180424|       8.106|    False|  12|    3|2010|      1|    null|
|  8.0|  1.0|2010-04-02|        1594.96828|      62.27|     2.719|210.8204499|       7.808|    False|  13|    4|2010|      2|    null|
|  9.0|  1.0|2010-04-09|        1545.41853|      65.86|      2.77|210.6228574|       7.808|    False|  14|    4|2010|      2|    null|
| 10.0|  1.0|2010-04-16|        1466.05828|      66.32|     2.808|   210.4887|       7.808|    False|  15|    4|2010|      2|    null|
| 11.0|  1.0|2010-04-23|        1391.25612|      64.84|     2.795|210.4391228|       7.808|    False|  16|    4|2010|      2|    null|
| 12.0|  1.0|2010-04-30|        1425.10071|      67.41|      2.78|210.3895456|       7.808|    False|  17|    4|2010|      2|    null|
| 13.0|  1.0|2010-05-07|1603.9551199999999|      72.55|     2.835|210.3399684|       7.808|    False|  18|    5|2010|      2|    null|
| 14.0|  1.0|2010-05-14|         1494.2515|      74.78|     2.854|210.3374261|       7.808|    False|  19|    5|2010|      2|    null|
| 15.0|  1.0|2010-05-21|        1399.66207|      76.44|     2.826|210.6170934|       7.808|    False|  20|    5|2010|      2|    null|
| 16.0|  1.0|2010-05-28|        1432.06995|      80.44|     2.759|210.8967606|       7.808|    False|  21|    5|2010|      2|    null|
| 17.0|  1.0|2010-06-04|        1615.52471|      80.69|     2.705|211.1764278|       7.808|    False|  22|    6|2010|      2|    null|
| 18.0|  1.0|2010-06-11|        1542.56109|      80.43|     2.668|211.4560951|       7.808|    False|  23|    6|2010|      2|    null|
| 19.0|  1.0|2010-06-18|        1503.28406|      84.11|     2.637|211.4537719|       7.808|    False|  24|    6|2010|      2|    null|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
only showing top 20 rows

In [ ]:
df_Sale_Store.registerTempTable("store_sale")

In [ ]:
spark.sql("select * from store_sale").show(5)

+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
|Index|Store|      Date|Store_Weekly_Sales|Temperature|Fuel_Price|        CPI|Unemployment|IsHoliday|Week|Month|Year|Quarter|MarkDown|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
|  0.0|  1.0|2010-02-05|         1643.6909|      42.31|     2.572|211.0963582|       8.106|    False|   5|    2|2010|      1|    null|
|  1.0|  1.0|2010-02-12|1641.9574400000001|      38.51|     2.548|211.2421698|       8.106|     True|   6|    2|2010|      1|    null|
|  2.0|  1.0|2010-02-19|        1611.96817|      39.93|     2.514|211.2891429|       8.106|    False|   7|    2|2010|      1|    null|
|  3.0|  1.0|2010-02-26|        1409.72759|      46.63|     2.561|211.3196429|       8.106|    False|   8|    2|2010|      1|    null|
|  4.0|  1.0|2010-03-05|1554.8066800000001|       46.5|     2.625|211.3501429|       8.106|    False|   9|    3|2010|      1|    null|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+--------+
only showing top 5 rows

In [ ]:
#. Number of stores in each store Type

q1=spark.sql("Select Type, count(store) store_count from store group by Type order by store_count  desc")
q1.show()

+----+-----------+
|Type|store_count|
+----+-----------+
|   A|         22|
|   B|         17|
|   C|          6|
|Type|          1|
+----+-----------+

In [ ]:
#Total sale by store 

q2=spark.sql("select Store, sum(Store_Weekly_Sales) from store_sale group by Store")
q2.show()

+-----+-----------------------+
|Store|sum(Store_Weekly_Sales)|
+-----+-----------------------+
|  8.0|           129951.18113|
|  7.0|      81598.27514000001|
| 29.0|      77141.55430999999|
| 42.0|      79565.75243000001|
| 44.0|      43293.08784000002|
| 35.0|     131520.67207999993|
| 18.0|     155114.73421000005|
|  1.0|     222402.80884999997|
| 39.0|     207445.54247000004|
| 34.0|     138249.76299999998|
| 37.0|      74202.74032000006|
| 25.0|     101061.17917000002|
| 36.0|      53412.21496999999|
| 41.0|      181341.9348900001|
|  4.0|      299543.9533800001|
| 23.0|     198750.61785000004|
| 45.0|     112395.34142000001|
| 31.0|     199613.90549999994|
| 11.0|      193962.7868000001|
| 21.0|     108117.87891999997|
+-----+-----------------------+
only showing top 20 rows

In [ ]:
# Top 10 stores which are making the highest Sales.

spark.sql("select Store, sum(Store_Weekly_Sales) as Store_sales from store_sale group by Store order by Store_sales Desc limit 10").show()

+-----+------------------+
|Store|       Store_sales|
+-----+------------------+
| 20.0| 301397.7924599999|
|  4.0| 299543.9533800001|
| 14.0| 288999.9113400001|
| 13.0| 286517.7037999999|
|  2.0|275382.44098000013|
| 10.0|271617.71389000013|
| 27.0|253855.91687999998|
|  6.0|223756.13063999993|
|  1.0|222402.80884999997|
| 39.0|207445.54247000004|
+-----+------------------+

In [ ]:
#Bottom 10 stores which are making the highest Sales.

spark.sql("select Store, sum(Store_Weekly_Sales) as salesByStores from store_sale group by Store order by salesByStores limit 10").show()

+-----+-----------------+
|Store|    salesByStores|
+-----+-----------------+
| 33.0|37160.22195999999|
| 44.0|43293.08784000002|
|  5.0|45475.68889999999|
| 36.0|53412.21496999999|
| 38.0|55159.62641999997|
|  3.0|57586.73506999998|
| 30.0|62716.88512000001|
| 37.0|74202.74032000006|
| 16.0|74252.42540000002|
| 29.0|77141.55430999999|
+-----+-----------------+

In [ ]:
#Q5. What is the max sales per week?
spark.sql("select Store, max(Store_Weekly_Sales) as max_sale from store_sale group by Store").show()

+-----+------------------+
|Store|          max_sale|
+-----+------------------+
|  8.0|        1511.64109|
|  7.0|        1059.71527|
| 29.0|        1130.92679|
| 42.0|         674.91945|
| 44.0|         376.23389|
| 35.0|        1781.86698|
| 18.0|2027.5071500000001|
|  1.0|         2387.9502|
| 39.0|        2554.48284|
| 34.0|        1620.74825|
| 37.0|         605.79146|
| 25.0|        1295.39119|
| 36.0|489.37201999999996|
| 41.0|        2263.72268|
|  4.0|        3676.38898|
| 23.0|         2734.2771|
| 45.0|        1682.86203|
| 31.0|        2068.94297|
| 11.0|        2306.26536|
| 21.0|        1587.25778|
+-----+------------------+
only showing top 20 rows

In [ ]:
# What is the min weekly sales?
spark.sql("select Store, min(Store_Weekly_Sales) as min_sale from store_sale group by Store").show()

+-----+------------------+
|Store|          min_sale|
+-----+------------------+
|  8.0|         772.53912|
|  7.0|         372.67361|
| 29.0|         395.98724|
| 42.0|          428.9536|
| 44.0|         241.93711|
| 35.0|         576.33205|
| 18.0|         540.92294|
|  1.0|        1316.89931|
| 39.0|1158.6984400000001|
| 34.0|         836.71775|
| 37.0|         451.32761|
| 25.0|         558.79463|
| 36.0|         270.67798|
| 41.0|         991.94173|
|  4.0|         1762.5393|
| 23.0|1016.7561000000001|
| 45.0|         617.20758|
| 31.0|         1198.0716|
| 11.0|        1100.41869|
| 21.0|         596.21824|
+-----+------------------+
only showing top 20 rows

In [ ]:
# Total sales on week of Holiday And week of not having Holiday.

spark.sql("select IsHoliday, sum(Store_Weekly_Sales) as Sales from store_sale group by IsHoliday order by Sales limit 10").show()

+---------+------------------+
|IsHoliday|             Sales|
+---------+------------------+
|     True|505299.55155999964|
|    False| 6231919.435550011|
+---------+------------------+

In [ ]:
#Top 10 stores by Markdown.

spark.sql("select Store, sum(MarkDown) as Total_MarkDown from store_sale group by Store order by Total_MarkDown limit 10").show()

+-----+------------------+
|Store|    Total_MarkDown|
+-----+------------------+
| 36.0|           3166.27|
| 44.0|           3177.58|
| 33.0| 4263.049999999999|
| 37.0|           5595.78|
| 42.0|           6599.31|
| 43.0| 7132.429999999999|
| 30.0| 9124.740000000002|
| 38.0|21096.229999999996|
|  3.0|         218271.93|
|  9.0|244522.56000000003|
+-----+------------------+

In [ ]:
# Find how much Sales is done per Year
spark.sql("select Year, sum(Store_Weekly_Sales) as Sales_per_Year from store_sale group by Year order by Sales_per_Year").show()

+----+------------------+
|Year|    Sales_per_Year|
+----+------------------+
|2012|2000132.8593499996|
|2010|2288886.1204099986|
|2011|     2448200.00735|
+----+------------------+

In [ ]:
spark.stop()